#title{
    color: rgb(236, 214, 14);
    margin-top: 30px;
}
.btn{
    border-radius:10px;
    margin: 1px;
    width: 200px;
    text-align: center;
}
    
.btn-primary{
    background-color: rgb(236, 214, 14);    
    border-color: darkorange;
}

#mioDiv {
    width: 100%; height: 100%; top: 0; left: 0;
    background-image: url('../../assets/biblioteca-gladstone.jpg');
    position: fixed; z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



